---
type Section = {
  data: {
    id: string;
    title: string;
  };
};

const { sections = [] } = Astro.props as { sections: Section[] };

/*

      <a href="#over" class="hover:opacity-60 transition">OVER</a>
      <a href="#diensten" class="hover:opacity-60 transition">DIENSTEN</a>
      <a href="#contact" class="hover:opacity-60 transition">CONTACT</a>
*/
---

<nav class="fixed top-0 w-full z-50 backdrop-blur-md 
            bg-deepblue/30 dark:bg-deepblue/30 
            light:bg-lightbg/80 border-b border-northtext/20">

  <div class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">

    <a href="#" class="text-sm tracking-widest font-semibold">
      Digital Northstar
    </a>

    <div class="flex gap-6 text-xs  tracking-wider uppercase">
      {sections.map((section: Section) => (
          <a 
            href={`#${section.data.id}`} 
            class="nav-link opacity-60 hover:opacity-100 transition"
            data-section={section.data.id}
          >
            {section.data.title}
          </a>
        ))}
    </div>

  </div>
</nav>
